@import './base.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s;
}

a:hover {
  color: var(--color-primary-soft);
}
